[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
bs4 = "*"
numpy = "*"
opencv-python = "*"
python-dotenv = "*"
flask-login = "*"
flask-sqlalchemy = "*"
python-google-places = "*"
google-cloud = "*"
google-cloud-language = "*"
nltk = "*"
datetime = "*"

[requires]
python_version = "3.8"
