/**
 * @file
 * Main stylesheet file.
 */

/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
}
a {
  cursor: pointer;
}

/* Main elements end */

/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

body {
  font-family: "Abel";
  font-size: 22px;
  overflow: hidden;
}

a {
   outline: 0 !important;
}

.main-title {
  text-align: center;
  font-size: 60px;
  color: gainsboro;
  margin-bottom: 2%;
}

.main-subtitle {
  text-align: center;
  font-size: 20px;
  color: gainsboro;
}

.navbar-fixed-left {
  width: 170px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-custom {
  background-color: black;
  opacity: 60%;
  color: gainsboro;
  padding-top: 2%;
}

.nav-text {
  color: gainsboro;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;
  width: 170px;
  margin-left: -30px;
}

.navbar-nav > li > a {
  padding: 20%;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.footer-text {
  text-align: center;
  margin-top: 2%;
  font-size: 15px;
  color: rgb(104, 62, 62);
  opacity: 100%;
}

#footer {
  background-color: black;
  opacity: 50%;

  width: 100%;
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes background {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
@-moz-keyframes background {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
@keyframes background {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#wrap {
  background: linear-gradient(233deg, #22bf89, #bf2289);
  background-size: 400% 400%;

  -webkit-animation: background 17s ease infinite;
  -moz-animation: background 17s ease infinite;
  animation: background 17s ease infinite;

  margin-left: 170px;
  position: relative;
}

#nav-sec {
  width: 170px;
  height: 100%;
  float: left;

  background: linear-gradient(233deg, #22bf89, #bf2289);
  background-size: 400% 400%;

  -webkit-animation: background 17s ease infinite;
  -moz-animation: background 17s ease infinite;
  animation: background 17s ease infinite;
}
.navbar- > li > a:hover,
.navbar > li > a:focus {
  border-radius: 10px;
}

.sign-up-btn {
  margin-top: 7%;
}

.log-in-btn {
  margin-bottom: 15%;
}

.button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.panel,
.panel-unexpandable {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  color: #333;
}

.panel,
.panel-unexpandable > a{
  color: #333;
}

a {
  text-decoration: none !important;
}

.panel:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.4);
  color: #444 !important;
}

.panel,
.panel-unexpandable {
  margin-bottom: 30px;
  float: left; 
  width: 90%;
}

.corona-headline {
  color: #444;
}

.corona-details {
  color: #555;
}

.corona-publish-date {
  color: #666;
}

.corona-news-link:hover {
  color: #555 !important;
  text-decoration: none !important;
}

.signup-div {
  text-align: center;
}

.field {
  margin-bottom: 1%;
}

.page-form {
  margin-top: 4%;
}

.panel-txt {
  max-width: 60%;
  float: left;
}

.panel-unexpandable > .panel-txt {
  max-width: 100% !important;
}

.panel-img {
  max-width: 35%;
  float: right; 
  margin: 10px 10px 10px 50px; 
  border-radius: 10px;
}

#map {
  height: 100%;
}
.map-container {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

textarea {
	width: 600px;
  height: 120px;
  border: none;
	padding: 15px;
  font-family: Abel;
  font-size: 15px;
	background-image: url(bg.gif);
	background-position: bottom right;
  background-repeat: no-repeat;
  resize: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  margin-top: 2%;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.boxes {
  max-width: 35%;
  margin: 0 auto;
  margin-top: 8%;
  border-radius: 15px;
  background-color: darkslategray;
  padding: 4%;
}