{% extends 'base.html' %} {% block title %}About - DontInjectBleach{% endblock
%}{% block content%}

<div class="about-sec">
  <h1 style="text-align: center; padding-bottom: 5px; color: gainsboro;">
    About Us
  </h1>
  <hr width="50%" />
  <p style="text-align: center; padding-top: 5px; color: gainsboro;">
    We are two high schoolers from San Jose, California dedicated to changing
    the world for the better.
  </p>
  <p style="text-align: center; padding-top: 5px; color: gainsboro;">
    This site was made during the historical COVID-19 pandemic to give people a
    trustworthy, ad-free source of medical statistics, self-diagnosing, and
    AI-assisted disease testing. It's not only for the pandemic, however; we
    made it so that this can be used for other medical issues as well. The site
    also uses sentiment analysis and smart comparisons to swiftly and accurately 
    tell when someone needs attention.
  </p>
  <p style="text-align: center; padding-top: 5px; color: gainsboro;">
    This webapp was created in 24 hours with Python and HTML/JS/CSS during
    OpenHacks 2020.
  </p>
</div>

{% endblock %}
