{% extends 'base.html' %} {% block title %}Home - DontInjectBleach{% endblock %}
{% block content%}

<div class="panel">
    <div class="how-feeling" style="text-align: center">
        <h1 style="margin-bottom: 4%;">AI-Assisted Coronavirus Probability Tracker</h1>
        <form method="POST" action="/home">
            <h2>How Are You Feeling?</h2>
            <textarea type="text" id="fname" name="fname" style="margin-bottom: 2%;"></textarea>
    
            {% if ten_passed %}
            <p>Input details about your health or feelings. To properly track, you won't be able to input again for 10 minutes.</p>
            <p >Please format in complete sentences.</p>
            <button type="submit" class="button is-block is-info is-large is-fullwidth" style="margin-top: 2%">Submit</button>
            <h2><a href="/trackerdata">See Data</a></h2>
            {% endif %}
            {% if not ten_passed %}
            <p>Thanks for submitting! Your response has been processed, and your probability record is available below.</p>
            <h2><a href="/trackerdata">See Data</a></h2>
            {% endif %}
        </form> 
    </div>
</div>

<div class="home-div">
    <a href="/coronavirus">
    <div id = "corona-panel" class="panel">
        <div class="panel-txt">
        <h1>COVID-19</h1>
        <h3>2019-2020 Coronavirus Disease - Info, Statistics, and News</h3>
        </div>
        <img class="panel-img" src="https://www.un.org/sites/un2.un.org/files/styles/5x4-front-thumbnail/public/field/image/1580758761.9058.jpg?itok=VoI_xJPD" alt="Coronavirus" height="200px">
    </div>
    </a>
</div>
<div class="home-div">
    <a href="/hospital">
    <div class="panel">
        <div class="panel-txt">
        <h1>Find Me Hospitals</h1>
        <h3>Need a hospital? This can search for quality, cheap, or nearby hospitals based on user ratings and other statistics.</h3>
        </div>
        <img class="panel-img" src="https://i.ya-webdesign.com/images/hospital-clipart-8.png" alt="Hospital" height="200px">
    </div>
    </a>
</div>
<div class="home-div">
    <a href="/selfdiagnosis">
    <div class="panel">
        <div class="panel-txt">
        <h1>Self Diagnose Coronavirus</h1>
        <h3>Do you think you're symptomatic? Take this AI-assisted quiz to determine for sure.</h3>
        </div>
        <img class="panel-img" src="https://www.clipartkey.com/mpngs/m/116-1167378_transparent-quiz-clip-art.png" alt="Hospital" height="200px">
    </div>
    </a>
</div>
{% endblock %}